@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --light: #f0f3f9;
  --dark-blue: #271b72;
  --light-blue: #5042ad;
  --purple: #9e00ff;
  --border-tic-tac-toe: 9px solid #271b72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light);
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-game-start {
  margin-top: 72px;
}

.game-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 42px;
  color: var(--dark-blue);
}

.img-tic-tac-toe {
  width: 100px;
  margin-bottom: 42px;
}

.btn,
select {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  background-color: var(--dark-blue);
  color: var(--light);
  border-width: 1px;
  border: 1px solid var(--light-blue);
  box-shadow: 0 4px 24px 0 rgb(79 114 205 / 15%);
  font-family: 'Poppins', sans-serif;
}

select {
  padding: 12px 18px;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn:hover,
select:hover {
  cursor: pointer;
  box-shadow: 0 4px 42px 0 rgb(79 114 205 / 30%);
  background-color: var(--light-blue);
}

.row-gameboard-grid {
  display: none;
}

.gameboard-grid {
  margin-top: 128px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all ease-in-out 200ms;
  margin-bottom: 42px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: var(--light-blue);
}

.cell:hover {
  cursor: pointer;
  background-color: var(--purple);
}

div[data-cell='0'] {
  border-right: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='1'] {
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='2'] {
  border-left: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='3'] {
  border-right: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='4'] {
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='5'] {
  border-left: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='6'] {
  border-right: var(--border-tic-tac-toe);
}

div[data-cell='8'] {
  border-left: var(--border-tic-tac-toe);
}

@media (max-width: 475px) {
  .start-game {
    margin-top: 64px;
  }

  .title-game {
    font-size: 42px;
    font-weight: normal;
  }
}
