@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
  --border-tic-tac-toe: 9px solid #271b72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f3f9;
}

.row {
  display: flex;
  justify-content: center;
}

.start-game {
  flex-direction: column;
  align-items: center;
  margin-top: 128px;
}

.title-game {
  font-size: 64px;
  margin-bottom: 42px;
}

.img-tic-tac-toe {
  width: 100px;
  margin-bottom: 42px;
}

.btn-start {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #271b72;
  color: #f0f3f9;
  border-width: 1px;
  border: 1px solid #5042ad;
  box-shadow: 0 4px 24px 0 rgb(79 114 205 / 15%);
  font-family: 'Poppins', sans-serif;
}

.btn-start:hover {
  background-color: #5042ad;
  cursor: pointer;
  box-shadow: 0 4px 42px 0 rgb(79 114 205 / 30%);
}

.row-gameboard-grid {
  display: none;
  flex-direction: column;
  align-items: center;
}

.gameboard-grid {
  margin-top: 128px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all ease-in-out 200ms;
  margin-bottom: 42px;
}

.cell {
  width: 100px;
  height: 100px;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #5042ad;
}

.cell:hover {
  cursor: pointer;
  /* background-color: rgba(255, 248, 220, 0.815); */
  background-color: #9e00ff;
}

div[data-cell='1'] {
  border-right: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='2'] {
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='3'] {
  border-left: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='4'] {
  border-right: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='5'] {
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='6'] {
  border-left: var(--border-tic-tac-toe);
  border-bottom: var(--border-tic-tac-toe);
}

div[data-cell='7'] {
  border-right: var(--border-tic-tac-toe);
}

div[data-cell='9'] {
  border-left: var(--border-tic-tac-toe);
}

@media (max-width: 475px) {
  .start-game {
    margin-top: 64px;
  }

  .title-game {
    font-size: 42px;
  }
}
